{% extends "knitpro/base.html" %}

{% block "content" %}
	<h1>Projects</h1>
	<ul>
	  {% for project in projects %}
	    <li>
	      <a href="/project/{{ project.pk }}">{{ project }}</a>
	      <ul>
	        {% for yarn in project.yarn_set.all %}
	          <li>{{ yarn.name }}</li>
	        {% endfor %}
	      </ul>
	    </li>
	  {% empty %}
	    <li>No projects yet.</li>
	  {% endfor %}
	</ul>

	<a href="/project/new">Create a new project</a>
	<a href="/yarn/">See all your yarns!</a>
{% endblock "content" %}
