{% extends "knitpro/base.html" %}

{% block "content" %}
    <style>
        h1,h5 {
            color: #555;
            font-family: "Helvetica Neue", Arial, sans-serif;
        }
        
        ul {
            list-style-type: none;
            padding: 0;
        }
        
        li {
            margin-bottom: 10px;
        }
        
        a {
            color: #555;
            text-decoration: none;
            font-weight: bold;
            transition: color 0.3s ease;
        }
        
        a:hover {
            color: #999;
        }
	</style>
	
	<h1>Yarns</h1>
	<ul>
	  {% for yarn in yarns %}
	    <li>
	      <a href="/yarn/{{ yarn.pk }}">{{ yarn }}</a>
	    </li>
	  {% empty %}
	    <li>No projects yet.</li>
	  {% endfor %}
	</ul>

	{% if yarn %}
		

	{% endif %}

	

	<a href="/yarn/new">Create a new yarn</a>
	<a href="/">Go Back</a>
{% endblock "content" %}
